<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="logAppender" class="ch.qos.logback.core.FileAppender">
        <file>/app/log/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %level %L [%X{txID}] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
     
    <root level="INFO">
        <appender-ref ref="logAppender" />
    </root>
</configuration>